<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>My first Blog</h1>
  <hr>
  <% for ( var i = 0; i < post.length; i++) { %>
  <div class="post">
    <h1><a href="/post/<%=(i + 1)%>"> <%= post[i].title %> </a></h1>
    <!-- <p><%= post[i].content %></p> -->
  </div>
  <% } %>
</body>
</html>
